a {
	color : #156748;
}

#container
{
	margin: 0 30px;
}

#header
{
	background: #156748;
	padding: 20px;
}

#header h1 { text-align : center; color : #fff;}

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
}

#navigation li a:hover { background: #383; }

#edito
{
	clear: left;
	padding: 20px;
	margin: 20px;
}

#edito h2
{
	color: #000;
	font-size: 160%;
	margin: 0 0 .5em;
}

#news
{	
	float: left;
	width: 40%;
	padding: 20px;
	margin: 20px;

}

#footer
{
	color : white;
	clear: both;
	background: #156748;
	text-align: center;
	padding: 20px;
	height: 1%;
}
#footer a {
	color : white;
}
